config:
  frontend-url: FRONT_END_URL
  jwt:
    secret-key: JWT_SECRET_KEY

spring:
  datasource:
    url: jdbc:h2:file:~/urlShortenerDatabase
    username:
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      settings:
        trace: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: h2
  mail:
    host: smtp.gmail.com
    port: 587
    username: YOUR_EMAPL
    password: YOUR_PASSWORD
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true
        protocol: smtp
        test-connection: false

